<div class="container-fluid">
  <!-- <app-breadcrumb /> -->
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-body table-responsive">
          <h3 class="mt-0 header-title uppercase"> User List</h3><br>
          <!-- <a routerLink="/davangree-eventcreate">
           <button style="float: right;" type="button" class="btn btn-primary rounded-pill waves-effect waves-light"><i class="fa fa-plus"></i>&nbsp;Create Event</button>

          </a>  -->
          <br>


          <table  class="table e-bordered table-bordered dt-responsive nowrap">
            <thead>
            <tr>
              <th>S.No</th>
              <th>FirstName</th>

              <th>Last Name </th>
              <th> Email</th>
              <th>Password</th>
              <th>Action</th>
              <th>Delete</th>
            </tr>
            </thead>


            <tbody>
            <tr *ngFor="let data of content;let i= index">
              <td>{{i+1}}</td>
              <td >{{data.firstname}}</td>
              <td >{{data.lastname}}</td>
              <td >{{data.email}}</td>

              <td >{{data.password}}</td>

              <td style="white-space: nowrap; width: 1%;">
                <div class="btn-group btn-group-sm" style="float: none;">
                  <a routerLink="/user/list/edit/{{data.id}}" ><button type="button" class="tabledit-edit-button btn btn-success" style="float: none;"><span class="mdi mdi-pencil"></span></button>
                  </a>

                </div></td>
              <td class="d-flex justify-content-center">
                <button type="button" (click)='delete(data.id)' class=" btn btn-danger" ><i class="mdi mdi-delete"></i></button>
              </td>
            </tr>

            </tbody>
          </table>
          <!-- <div class="col-xl-12 col-md-12" style="margin-top: 10px;">
              <div *ngIf="maxSize && totalItems && currentPage">
                  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                      (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
              </div>
          </div> -->
        </div>
      </div>

    </div>
  </div>
</div>
