/* You can add global styles to this file, and also import other style files */
.swal2-styled.swal2-cancel {
    background-color: #dd3333 !important;
}

.uppercase {
    text-transform: uppercase;

}

* {
    /*font-family: "Cera Pro Bold";*/
}
body{
  font-family: "Cera Pro Bold", serif !important;
}
.button {
  background-color:#294278;
  color: #fff;
  border:none;
  border-radius:10px;
  padding:15px;
  float: right;
  width: 11%;
}

h3{
  color:#294278;
  font-weight: 800 !important;
}
label{
  color:rgb(19, 18, 18);
}

@import url(https://db.onlinewebfonts.com/c/98b78079f5ee4295c40260785b4e4fbf?family=Cera+Pro+Bold);
