<div class="row">
    <div class="col-xl-3 col-md-6 box-shadow">
        <div class="card shadow">
            <div class="card-body widget-user">
                <div routerLink="/user-create" class="d-flex justify-content-between align-items-center">
                    <h2 class="check">USER</h2>
                    <i style="font-size: 30px;" class="mdi mdi-account-group"></i>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 box-shadow">
        <div class="card shadow">
            <div class="card-body widget-user">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 >CMS</h2>
                    <i style="font-size: 30px;" class="mdi mdi-file-document-edit-outline"></i>
                </div>
            </div>
        </div>

    </div>
    <!--
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body widget-user">
                <div class="text-center">
                    <h2 class="fw-normal text-warning" data-plugin="counterup">43</h2>
                    <h5>Total Advertisement</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body widget-user">
                <div class="text-center">
                    <h2 class="fw-normal text-info" data-plugin="counterup">20</h2>
                    <h5>Total User</h5>
                </div>
            </div>
        </div>

    </div> -->
</div>
<!--
<div>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
        <div *ngFor="let slide of slides">
            <div ngxSlickItem class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </div>

    </ngx-slick-carousel>
</div> -->
